<nav class="nav nav-pills flex-column flex-nowrap overflow-auto slider_nav">
    <a href="#" class="nav-link active">Kitap</a>
    <a href="#" class="nav-link">Hobi&Oyuncak</a>
    <a href="#" class="nav-link">Elektronik</a>
</nav>